.options_group{
    padding: 30px;
}
#table-prices{
    padding: 30px;
    width: auto;
    max-width: 100%;
    border-collapse: collapse;
}
#table-prices tr td{
    border: 1px solid #000;
    width: auto;
    height: 33px;
    padding: 0 15px;
    margin: 0;
}
#table-prices tr.name-addon{
    background-color: #03A9F4;
}
#table-prices tr.name-subaddon{
    background-color: #3F51B5;
    color: #fff;
}
#table-prices tr td.title{
    background-color: #8BC34A;
    text-align: center;
}
#table-prices tr.name-addon td,
#table-prices tr.name-subaddon td{
    border-color: transparent;
}
#table-prices tr td.value{
    padding: 0;
}
#table-prices tr td input{
    width: 110px;
    margin: 0;
}
#table-prices tr td p{
    margin: 0px;
}
#table-prices tr td h3{
    font-size: 13px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    color: #fff;
}